* {
    background-color: rgb(244, 241, 241);
}

.contenedor {
    background-color: rgb(244, 241, 241);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    background-color: rgb(244, 241, 241);
}

.nombre{
    background-color: rgb(244, 241, 241);
    color: rgb(63, 62, 62);
    font-family: 'Gabarito', sans-serif;
    font-weight: bold;
    width: 100vw;
    display: flex;
    padding-top: 13px ;
    justify-content: center;
    align-items: center;
    margin: 0px;    
}

.profesion{
    background-color: rgb(244, 241, 241);
    color: rgba(245, 8, 8, 0.904);
    font-family: 'Gabarito', sans-serif;
    font-weight: 100;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.servicios{
    background-color: rgb(244, 241, 241);
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.contactos {
    background-color: green;
    width: 50vw;
    height: 5vh;
    margin-left: 25vw;
    margin-top: 10px;
    padding: 3px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    box-shadow: rgb(167, 165, 165) 3px 2px;
}

.fa {
    background-color: green;
    color: white;
    padding-right: 10px;
    border-radius: 60px;
}

h6 {
    background-color: green;
    color: white;
    font-size: larger;
    padding-left: 10px;
}

@media (min-width: 800px) {
    .contactos {
        width: 25vw;
        margin-left: 37vw;
    }
}
/* MEDIA PARA DARK MODE*/


/*@media (prefers-color-scheme: dark) {

    * {
        background-color: rgb(244, 241, 241);
    }
    
    .contenedor {
        background-color: rgba(151, 150, 150, 0.991);
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .tarjeta {
        background-color: rgba(226, 223, 223, 0.991);
    }
    
    .nombre{
        background-color: rgba(226, 223, 223, 0.991);
        color: rgb(63, 62, 62);
        width: 100vw;
        display: flex;
        padding-top: 13px ;
        justify-content: center;
        align-items: center;
        margin: 0px;    
    }
    
    .profesion{
        background-color: rgba(226, 223, 223, 0.991);
        color: rgba(245, 8, 8, 0.904);
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    .servicios{
        background-color: rgba(226, 223, 223, 0.991);
        width: 100vw;
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    
    .contactos {
        background-color: rgba(226, 223, 223, 0.991);
        width: 100vw;
        display: flex;
        justify-content: center;
        margin: 0px;
    }

 }*/
